
<div class="container-fluid">
    <div class="row">  <div class="col-12 my-2">
        <%= link_to raw('<i class="fa-solid fa-angle-left fa-2x"></i>'), root_path %>
       </div></div>
    <div class="row d-flex justify-content-center mx-4">
        <div class="col-12 d-flex justify-content-center"><h2>New Category</h2></div>
        <div class="col-12 d-flex justify-content-center">
            <% if @category.errors.any?  %>
            <%= raw('<h6 class="text-center">Beacause: </h6>') %>
            <div class="d-coulumn justify-content-center">
                <% @category.errors.full_messages.each_with_index do |message, index|%>
                <br><p class="d-column justify-content-start"><%=  index+1 %>. <%= message %> </p>
               <%end%>
            </div>
          <%end%>
        </div>
        <div class="col-md-6  card p-4 m-5">
           <%=  form_with model: @category, url: user_categories_path, :html => { :multipart => true }, data: { turbo:false } do |f| %>
           <%= f.text_field :name, placeholder: 'Category Name', class: 'form-control p-3 my-3'%>
           <%= f.file_field :icon, placeholder: "Image or Icon",  class: 'form-control p-3 my-3' %>
           <div class="d-flex justify-content-end">
            <%= f.submit "Save", disable_with: 'Submiting...', class:'btn btn-success p-3 d-flex justify-content-end' %>
           </div>
           <% end %>
        </div>
    </div>
</div>
